@media only screen and (max-width: 1300px) {

    .main_title {
        font-size: 30px;
    }

    .repair_home {
        margin: 20px 0 130px 0;
        
        .main_container {
            gap: 70px;
        }

        .repair_homeSwiper {
            width: 383px;
        }

        .repair_home_left {
            .main_title {
                max-width: 437px;
                font-size: 30px;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 12px;
            }

            .title_under {
                padding: 7px 14px;
                font-size: 16px;
                margin-bottom: 40px;
            }

            .repair_text_about {
                gap: 20px;
                margin-bottom: 40px;

                img {
                    width: 32px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 13px;
                }
            }

            .repair_home_form {
                margin-bottom: 20px;
                button,
                input {
                    height: 56px;
                    width: 200px;
                }
            }

            .repair_home_form_under  {

                input {
                    width: 20px;
                    height: 20px;
                }

                label {
                    max-width: 330px;
                    font-size: 12px;
                }
            }
        }

        .repair_homeSwiper {
            .repair_slider_btn {
                padding: 15px 0 0 15px;

                .repair-button-prev,
                .repair-button-next {
                    width: 32px;
                    height: 32px;

                    img {
                        width: 17px;
                    }
                }
            }
        }
    }

    .repair_options {
        margin-bottom: 130px;

        .main_title {
            margin-bottom: 57px;
        }

        .repair_options_cards {
            gap: 15px;
        }

        .repair_options_card {
            padding: 32px;
            gap: 30px;

            .repair_options_card_top {
                gap: 20px;
            }

            ul {
                gap: 7px;

                li {
                    font-size: 13px;
                }
            }

            h6 {
                font-size: 24px;

                span {
                    font-size: 13px;
                }
            }

            button {
                width: 146px;
                height: 45px;
                font-size: 16px;
            }
        }

    }

    .professional_team {
        margin-bottom: 130px;

        .main_title {
            margin-bottom: 70px;    
        }

        .professional_team_in {

            .professional_team_card {
                min-height: 278px;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .card_text {
                padding: 36px 17px;
            }

            h6 {
                font-size: 18px;
                margin-bottom: 15px;
            }

            p {
                font-size: 13px;
            }
        }
    }

    .examples_work {
        .main_title {
            margin-bottom: 56px;
        }

        .examples_work_slider_in {
            gap: 23px;
        }

        .examples_work_card {
            padding: 58px 30px;
            gap: 36px;

            h4 {
                font-size: 30px;
                margin-bottom: 15px;
            }

            ul {
                margin-bottom: 20px;

                li {
                    padding: 7px 0;
                }

                h6,
                span {
                    font-size: 13px;
                }
            }

            p {
                font-size: 13px;
                margin-bottom: 7px;
            }

            .examples_work_right_btn {
                font-size: 13px;

                span {
                    width: 10px;
                    height: 10px;

                    img {
                        width: 7px;
                    }
                }
            }

            .examples_work_slider_btn {
                margin-top: 25px;
                font-size: 16px;
                padding: 11px 14px;
            }
        }

        .examples_work-prev,
        .examples_work-next {
            width: 36px;
            height: 36px;

            img {
                width: 17px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    header {
        .logo {
            min-width: 244px;
            gap: 10px;

            img {
                width: 125px;
            }

            span {
                font-size: 10px;
            }
        }

        .nav_link {
            gap: 17px;

            a {
                white-space: nowrap;
                font-size: 13px;
                line-height: 13px;
            }
        }

        .header_btn {
            font-size: 13px;
            min-width: 130px;
            height: 35px;
        }
    }

    footer {
        .footer_top {
            margin-bottom: 35px;
        }

        .footer_logo  {
            span {
                font-size: 12px;
            }
        }

        .footer_logo_under {
            li {
                font-size: 12px;
            }
        }

        .footer_block_center {
            gap: 115px;

            h6 {
                font-size: 16px;
            }

            .footer_center_in {
                width: 180px;
            }

            .footer_link {

                a {
                    font-size: 16px;
                }

                .footer_phone {
                    font-size: 16px;
                }

                .footer_btn {
                    display: flex;
                }

                .footer_social_btn {
                    width: 147px;
                    height: 30px;
                    font-size: 13px;

                    img {
                        width: 20px;
                    }
                }
            }
        }

        .footer_block_end {
            display: none;
        }
    }
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 930px) {
    .repair_home {

        .main_container {
            gap: 30px;
        }

        .repair_homeSwiper {
            width: 300px;
        }
    }
}

@media only screen and (max-width: 840px) {

    .main_title {
        font-size: 25px;
    }

    header {
        padding: 20px 0;

        .logo {
            img {
                width: 110px;
            }
        }
        
        nav {
            display: none;
        }

        .header_btn {
            display: none;
        }

        .burger {
            flex-shrink: 0;
            display: block;
        }
    }

    .repair_home {

        margin: 20px 0 70px 0;

        .main_container {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .repair_home_left  {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .main_title {
                max-width: 100%;
                font-size: 25px;
                text-align: center;
            }

            .title_under {
                margin-bottom: 0;
            }
        }

        .repair_home_left {
            .repair_text_about {
                display: none;
            }

            .repair_form {
                display: none;
            }
        }

        .repair_home_mobile {
            display: flex;
            flex-direction: column;
            align-items: center;

            .repair_home_form {
                flex-direction: column;
                gap: 13px;
                margin-bottom: 20px;

                input,button {
                    width: 320px;
                    height: 77px;
                }
            }

            .repair_home_form_under  {
                max-width: 320px;
                input {
                    width: 15px;
                    height: 15px;
                }

                label {
                    font-size: 12px;
                }
            }
        } 

    }

    .repair_options {
        .main_title {
            margin-bottom: 40px;
        }

        .repair_options_cards {
            flex-direction: column;
            gap: 40px;
        }

        .repair_options_card {
            padding: 27px;

            .repair_options_card_top {
                gap: 30px;
            }

            ul {
                li {
                    font-size: 16px;
                }
            }

            button {
                width: 200px;
                height: 54px;
            }
        }
    }

    .professional_team {
        margin-bottom: 70px;

        .main_title {
            text-align: center;
            font-size: 25px;
            margin-bottom: 50px;
        }
        .professional_team_in {
            .professional_team_card {
                width: 100%;
                min-height: 303px;

                h6 {
                    font-size: 20px;
                    margin-bottom: 25px;
                }

                p {
                    font-size: 16px;
                }

                img {
                    height: 303px;
                    transform: translateY(4px);
                }
            }

            .card_text {
                padding: 50px 30px;
            }
        }
    }

    .examples_work {
        margin-bottom: 50px;

        .main_title {
            text-align: center;
        }

        .examples_work_btn_desktop {
            display: none;
        }

        .examples_work_slider_in {
            display: flex;
        }

        .examples_work_card {
            padding: 27px 29px 60px 29px;
            flex-direction: column;
            gap: 40px;

            h4 {
                font-size: 25px;
                text-align: center;
                margin-bottom: 30px;
            }

            .examples_work_left {
                img {
                    width: 100%;
                }
            }

            .slider_main_btn {
                @include flex-full-center;
            }

            .examples_work_slider_btn {
                margin-top: 35px;
                height: 54px;
                width: 200px;
            }
        }

        .examples_workSwiper_btns {
            margin-top: 40px;
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }

    footer {
        padding: 70px 0 45px 0;

        .footer_top {
            margin-bottom: 60px;
            flex-direction: column;
            align-items: center;
            gap: 56px;
        }

        .footer_logo {
            img {
                width: 222px;
            }

            span {
                font-size: 15px;
                text-align: center;
            }
        }

        .footer_logo_under {
            display: none;
        }

        .footer_block_center {
            gap: 45px;

            .footer_center_in {
                width: 137px;
            }

            h6 {
                font-size: 15px;
                margin-bottom: 30px;
            }

            .footer_link {
                gap: 18px;

                .footer_phone {
                    font-size: 15px;
                }

                .footer_social_btn {
                    gap: 10px;
                    width: 137px;
                    font-size: 15px;

                    img {
                        width: 15px;
                    }
                }

                .footer_btn {
                    display: none;
                }

                a {
                    font-size: 12px;
                }
            }
        }

        .footer_block_end {
            display: block;

            .footer_btn {
                width: 320px;
                height: 67px;

            }

            p {
                margin-top: 18px;
                font-size: 16px;
                text-align: center;
            }
        }

        .footer_bottom {
            padding-top: 0;
            border: none;

            a, span {
                font-size: 10px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 15px;
    }
}