// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

// fonts
$fonts-Manrope: "Manrope", sans-serif;
$fonts-Mulish: "Mulish", sans-serif;
$fonts-Muller: "Muller", sans-serif;
// fonts

// colors
$color-acent: linear-gradient(270.00deg, rgb(225, 107, 95),rgb(243, 168, 158) 100%);
$color-main: #191414;
$color-secondary: #ffffff;
$color-background: #F9F9F9;

$text-1: #191414;
$text-2: #ffffff;
$text-3: #8C8989;
$stroke: #F1F1F1;
// colors

// var
h1 {
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
}
// var

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit;
    display: inline-block;
}

a:hover {
    color: inherit;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Muller", sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_container {
    max-width: 1272px;
    padding: 0 36px;
    margin: 0 auto;
}

.main_title {
    color: #000;
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;

    span {
        color: rgb(140, 137, 137);
    }
}

// header
header {
    padding: 40px 0;

    .main_container {
        @include flex-center();
        justify-content: space-between;
        gap: 10px;
    }

    .logo {
        @include flex-center();
        gap: 16px;
        
        span {
            color: rgb(25, 20, 20);
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
        }
    }

    .nav_link {
        @include flex-center();
        gap: 24px;

        a {
            color: rgb(25, 20, 20);
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    .header_btn {
        width: 163px;
        height: 48px;
        white-space: nowrap;
        color: rgb(25, 20, 20);
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        box-sizing: border-box;
        border: 1px solid rgb(25, 20, 20);
        box-shadow: 0px 0px 15px 0px rgba(25, 20, 20, 0.05);
        @include transition();

        &:hover {
            box-shadow: 0px 0px 15px 0px rgba(25, 20, 20, 0.05);
            background: rgb(25, 20, 20);
            color: $color-secondary;
        }
    }

    .burger {
        display: none;
    }
}
// header

.repair_page {
    background: rgb(249, 249, 249);
}

// repair_home
.repair_home {
    margin-top: 71px;
    margin-bottom: 200px;

    .main_container {
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }

    .repair_home_left {
        .main_title {
            color: #000;
            font-size: 40px;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 20px;

            span {
                color: rgb(140, 137, 137);
            }
        }

        .title_under {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
            line-height: 140%;
            padding: 10px 20px;
            background: rgb(30, 67, 57);
            margin-bottom: 60px;
        }

        .repair_text_about {
            margin-bottom: 60px;
            display: flex;
            align-items: start;
            gap: 35px;

            img {
                margin-bottom: 20px;
            }

            p {
                min-width: 96px;
                color: rgb(140, 137, 137);
                font-size: 18px;
                font-weight: 400;
                line-height: 140%;
            }
        }

        .repair_home_form {
            display: flex;
            gap: 10px;
            margin-bottom: 30px;

            input,
            button {
                width: 280px;
            }

            input {
                padding: 20px;
                color: rgb(140, 137, 137);
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                border: 1px solid rgb(241, 241, 241);
                box-shadow: 0px 0px 15px 0px rgba(25, 20, 20, 0.05);
            }

            button {
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 700;
                line-height: 140%;
                height: 77px;
                background: linear-gradient(270.00deg, rgb(225, 107, 95),rgb(243, 168, 158) 100%);
            }
        }

        .repair_home_form_under {
            display: flex;
            align-items: start;
            gap: 8px;

            input {
                width: 25px;
                height: 25px;
                accent-color: rgb(30, 67, 57);
            }

            label {
                color: rgb(140, 137, 137);
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;


                a {
                    text-decoration: underline !important;
                }
            }
        }
    }
    
    .repair_homeSwiper {
        width: 526px;
        position: relative;

        .repair_slider_btn {
            padding: 20px 0 0 20px;
            position: absolute;
            bottom: 4px;
            right: 0;
            z-index: 2;
            background-color: #fff;
            @include flex-center();
            gap: 10px;

            .repair-button-prev,
            .repair-button-next {
                border: 1px solid #000;
                width: 50px;
                height: 50px;
                @include flex-full-center();
            }
        }
    }
}
// repair_home

// repair_options
.repair_options {
    margin-bottom: 200px;

    .main_title {
        margin-bottom: 80px;
    }

    .repair_options_cards {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 23px;
    }

    .repair_options_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        flex: 1;
        background-color: #fff;
        padding: 45px;
        box-shadow: 0px 0px 15px 0px rgba(25, 20, 20, 0.05);

        .repair_options_card_top_img {
            width: 100%;
        }

        .repair_options_card_top {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        h6 {
            color: rgb(25, 20, 20);
            font-size: 32px;
            font-weight: 400;
            line-height: 140%;
            text-align: center;

            span {
                display: block;
                color: rgb(25, 20, 20);
                font-size: 18px;
                font-weight: 400;
                line-height: 140%;
                margin-top: 5px;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                color: rgb(140, 137, 137);
                font-size: 18px;
                font-weight: 400;
                line-height: 140%;
                @include flex-center();
                gap: 10px;

                img {
                    flex-shrink: 0;
                }
            }
        }

        button {
            margin: 0 auto;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            width: 200px;
            height: 54px;
            background: linear-gradient(270.00deg, rgb(225, 107, 95),rgb(243, 168, 158) 100%);
        }
    }
}
// repair_options

// professional_team
.professional_team {
    margin-bottom: 150px;

    .main_title {
        margin-bottom: 100px;
        max-width: 940px;
    }

    .professional_team_in {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;

        .professional_team_card {
            background: #fff;
            width: calc(100% / 4);

            img {
                height: 100%;
            }
        }

        .card_text {
            padding: 50px 25px;
        }

        h6 {
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 25px;
            color: rgb(25, 20, 20);
        }

        p {
            color: rgb(191, 191, 191);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
        }

        .green_card {
            background: #1E4339;
            h6 {
                color: #fff;
            }

            p {
                color: rgb(191, 191, 191);
            }
        }
    }

}
// professional_team

// examples_work
.examples_work {
    margin-bottom: 200px;

    .main_title {
        margin-bottom: 80px;
    }

    .examples_work_slider_in {
        @include flex-center();
        gap: 32px;
    }

    .examples_work-prev,
    .examples_work-next {
        position: static;
        flex-shrink: 0;
        width: 50px;
        height: 50px;   
        border: 1px solid rgb(25, 20, 20);
        @include flex-full-center();
    }

    .examples_work_card {
        display: flex;
        align-items: stretch;
        gap: 50px;
        padding: 80px 40px;
        box-shadow: 0px 0px 15px 0px rgba(25, 20, 20, 0.05);
        background: rgb(255, 255, 255);

        h4 {
            max-width: 470px;
            color: rgb(25, 20, 20);
            font-size: 40px;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 23px;
        }

        ul {
            margin-bottom: 30px;
            li {
                @include flex-center();
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid rgb(241, 241, 241);

                &:last-child {
                    border: none;
                }
            }

            h6 {
                color: rgb(25, 20, 20);
                font-size: 18px;
                font-weight: 400;
                line-height: 140%;
            }

            span {
                color: rgb(140, 137, 137);
                font-size: 18px;
                font-weight: 400;
                line-height: 140%;
            }
        }

        p {
            color: rgb(25, 20, 20);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 10px;
        }

        .examples_work_right_btn {
            margin-bottom: 5px;
            color: rgb(140, 137, 137);
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
            @include flex-center();
            gap: 7px;

            span {
                border-radius: 50%;
                @include flex-full-center();
                width: 15px;
                height: 15px;
                box-shadow: 0px 0px 15px 0px rgba(25, 20, 20, 0.05);
                background: linear-gradient(270.00deg, rgb(225, 107, 95),rgb(243, 168, 158) 100%);
            }
        }

        .examples_work_slider_btn {
            margin-top: 30px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            background: linear-gradient(270.00deg, rgb(225, 107, 95),rgb(243, 168, 158) 100%);
            padding: 16px 20px;
        }
    }
}
// examples_work

// footer
footer {
    background-color: #000;
    padding: 100px 0;

    .footer_top {
        margin-bottom: 120px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    .footer_left_block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer_logo {
        display: flex;
        flex-direction: column;
        gap: 8px;   

        img {
            width: 180px;
        }

        span {
            color: rgb(140, 137, 137);
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
        }
    }

    .footer_logo_under {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            color: rgb(140, 137, 137);
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    .footer_block_center {
        display: flex;
        gap: 60px;

        .footer_center_in {
            width: 180px;
        }

        h6 {
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 40px;
        }

        .footer_link {
            display: flex;
            flex-direction: column;
            gap: 24px;

            a {
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
            }

            .footer_btn {
                display: none;
                color: rgb(255, 255, 255);
                font-size: 13px;
                font-weight: 700;
                line-height: 140%;
                background: linear-gradient(270.00deg, rgb(225, 107, 95),rgb(243, 168, 158) 100%);
                width: 180px;
                height: 43px;
                align-items: center;
                justify-content: center;
            }

            .footer_phone {
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 400;
                line-height: 20px;
            }

            .footer_social_btn {
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 400;
                line-height: 140%;
                display: flex;
                align-items: center;
                gap: 12px;
                width: 180px;
                height: 44px;
                padding: 8px 16px;
                background: rgb(43, 43, 43);
            }
        }


        
    }

    .footer_btn {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
        line-height: 140%;
        background: linear-gradient(270.00deg, rgb(225, 107, 95),rgb(243, 168, 158) 100%);
        width: 223px;
        height: 54px;
        @include flex-full-center();
    }

    p {
        margin-top: 20px;
        color: rgb(140, 137, 137);
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    .footer_bottom {
        border-top: 1px solid rgb(43, 43, 43);
        padding-top: 24px;
        @include flex-center();
        justify-content: space-between;

        a {
            color: rgb(140, 137, 137);
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            text-decoration-line: underline;
            border-bottom: 1px solid;
        }

        span {
            color: rgb(140, 137, 137);
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
        }
    }
}
// footer













@import './responsive';